<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Page not found</title>
</head>
<body >
    <div class="flex text-center justify-center mx-auto my-60 w-80 h-40 rounded border-2 border-blue-300 hover:border-blue-400 shadow-sm hover:shadow-lg" >

        <h1 class="my-auto text-3xl hover:rotate-6 transition-all">Page Not Found!</h1>
    </div>
</body>
</html> 