<%- include('includes/head.ejs') %>
<body >
    <header  class="flex py-1  justify-center border-2  mx-auto shadow-md  mb-3">
        <%- include('includes/nav.ejs') %>
      </header>
    <div class="flex text-center justify-center mx-auto my-60 w-80 h-40 rounded border-2 border-blue-300 hover:border-blue-400 shadow-sm hover:shadow-lg" >

        <h1 class="my-auto text-3xl hover:rotate-6 transition-all">Page Not Found!</h1>
    </div>
</body>
</html> 