extends layouts/main-layout.pug
block styles
  link(rel='stylesheet' href='/src/index.css')
  script(src='https://cdn.tailwindcss.com')
block content
  main.container.mx-auto.py-4
    h1.text-xl.text.font-medium My Product
  main
  .container.mx-auto.py-2.mb-2(class='w-11/12')
    if pros.length > 0
      ul.list-items.w-full.flex.justify-start.flex-wrap
        each product in pros
          li.list-items__item.flex.justify-center(class='w-3/12')
            .list-items__item-content.shadow-md.rounded(class='w-11/12 hover:shadow-lg')
              .item-title.text-center.py-1.font-medium.text-lg
                | #{product.title}
              img(src='https://images.pexels.com/photos/159866/books-book-pages-read-literature-159866.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1' alt='')
              .price.text-center $19.99
              .text-content.text-center
                | A very interesting book about so many even more interesting!
              .button.w-full.flex.justify-center.py-2
                button.button__add-cart.p-1.font-medium.border-2.border-blue-500.rounded-md.text-blue-500(class='hover:bg-blue-500 hover:text-white')
                  | Add to Cart
    else 
      .text-center 
        h1 No Product 
