<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
  </head>
  <body>
    <script src="https://cdn.tailwindcss.com"></script>
    <header class="container mx-auto h-40">
      <nav  class="mt-4 mb-5 px-2 myt-9 w-10/12">
        <a
          class="font-medium mx-1 text-white text-center text-sm rounded shadow-sm py-3 px-3 bg-blue-400 hover:shadow-md "
          href="/"
          >Shop</a
        >
        <a
          class="font-medium mx-1 text-white text-center text-sm rounded shadow-sm py-3 px-3 bg-blue-400 hover:shadow-md 
              
          "
          href="/admin/add-product"
          >Add Product</a
        >
      </nav>
    </header>
    <main class="container mx-auto py-4">
      <h1>My Product</h1>
      <p>List of all the product ......</p>
    </main>
  </body>
</html>
